# Copyright (c) {{ now.year }} Jakob Meng, <jakobmeng@web.de>
#
# Redistribution and use is allowed according to the terms of the BSD license.
# For details see the accompanying COPYING-CMAKE-SCRIPTS file.
#

{%- if srcs %}

#################### build ####################

target_sources(hbrs_mpl PRIVATE
{%- for src in srcs %}
    {{ src.name }}
{%- endfor -%}
)

{% endif -%}

{%- if sub_dirs %}

#################### list the subdirectories ####################

{% for sub_dir in sub_dirs -%}
add_subdirectory({{ sub_dir.name }})
{% endfor %}
{% endif %}

{%- if (not srcs and not sub_dirs) %}

//BLANK

{% endif %}
