# Copyright (c) {{ now.year }} Jakob Meng, <jakobmeng@web.de>
#
# Redistribution and use is allowed according to the terms of the BSD license.
# For details see the accompanying COPYING-CMAKE-SCRIPTS file.
#
{% if impl or impls %}
#################### build ####################

target_sources(hbrs_mpl PRIVATE
{%- if impl %}
    {{ impl.name }}
{%- endif -%}
{%- for impl in impls %}
    {{ impl.name }}
{%- endfor -%}
)
{% endif -%}

{% if benchmark or benchmarks %}
#################### benchmarks ####################

{% if benchmark -%}
hbrs_mpl_add_benchmark(benchmark_{{ category }}_{{ component.name }} "benchmark.cpp")
{% endif -%}

{%- if benchmarks -%}

foreach(name
{%- for benchmark in benchmarks %}
    {{ benchmark.stem }}
{%- endfor -%}
)
    hbrs_mpl_add_benchmark(benchmark_{{ category }}_{{ component.name }}_${name} "${name}.cpp")
endforeach()

{% endif -%}

{% endif -%}

{% if tests or test %}
#################### tests ####################

{% if test -%}
hbrs_mpl_add_test({{ category }}_{{ component.name }} "test.cpp")
{% endif -%}

{%- if tests -%}

foreach(name
{%- for test in tests %}
    {{ test.stem }}
{%- endfor -%}
)
    hbrs_mpl_add_test({{ category }}_{{ component.name }}_${name} "${name}.cpp")
endforeach()
{% endif -%}

{% endif -%}

{% if sub_dirs %}
#################### list the subdirectories ####################

{% for sub_dir in sub_dirs -%}
add_subdirectory({{ sub_dir.name }})
{% endfor %}
{%- endif %}

{%- if not (impl or impls or sub_dirs or benchmark or benchmarks or test or tests) %}
# BLANK
{% endif %}
